<html>

<head>

<title>Gestion de pedidos</title>

</head>

<body>

    <p>Bienvenida {{user.username | upper}}</p>

    <form action="/gestion_nora/" method="POST" > {% csrf_token %}
        <p>Plato Principal: <input type="text" name="plato_fuerte"></p>
        <p>Ensalada: <input type="text" name="ensalada"></p>
        <p>Postre: <input type="text" name="postre"></p>
        <input type="submit" value="Agregar Menu">
    </form>

    <p><strong>{{mensaje}} </strong> </p>

    <ul>
        <li><a href="{% url 'consulta_nora' %}">Consultar Menus Ingresados</a></li>
        <li><a href="{% url 'gestion_pedidos' %}">Consultar Pedidos Ingresados</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
</ul>

</body>


</html>